
.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  gap: 2rem;
}
.courses .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  gap: 2rem;
}
.courses .container .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.logo-picture{
  height: 100%;
  width: 15%;
  margin-right: 16rem;
  object-fit: fill;
}
.logo-picture img{
  height: 5rem;
  width: 13rem;
}
@media(max-width:768px){
  :root p{
  font-size:13px ;
  }
  .container h1{
    font-size: 30px !important ;
    
  }
  .container .card p{
    font-size: 13px;
  }
  .courses .container .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
.col-lg-4 {
  width: 100%;
  margin: 0 auto;
  
}
}
/*card flip*/
/* From Uiverse.io by vamsidevendrakumar */ 
.card {
  width: 400px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  padding: 0;
  border-radius: 8px;
}
.card-back p{
  font-size: 14px;
  font-weight:normal;
  object-fit: cover;
  text-align: center;
  padding: 0 1rem;
}
.card-back h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  object-fit: cover;
  text-align: center;
  color: goldenrod;
  margin-top: 10px;
}
.card-front {
  background-color: #070707;
  color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background: linear-gradient(to top, #9c7f1ed9 , #000000);
  color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
  flex-direction: column;
}

.card{

  background: transparent;
  border: none;
}
